# Node modules
node_modules/

# Build output
build/
dist/

# Vite cache
.vite/

# Local env files
.env
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.local 